* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #111;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #fff;
    padding: 30px 0;
    margin-bottom: 80px;
}

.wavy {
    text-decoration: underline wavy #2D6AFF 
}

.logo {
    display: flex;
    width: fit-content;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    gap: 3px;
    color: #2D6AFF;
    cursor: default;
}

#entrar {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: #555;
    border: 1px solid #888;
    border-radius: 4px;
    text-decoration: none;
}

#entrar:hover {
    color:#111;
    background-color: #f5f5f5;
    border-color: #555;
}

#call {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#call h1 {
    width: fit-content;
    font-size: 4.2em;
    margin-bottom: 15px;
}

#call p {
    width: fit-content;
    font-size: 1.6em;
    text-align: center;
    color: #777;
}

.cta-button {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding: 15px 30px;
    background-color: #2D6AFF;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 4px;
}

.cta-button:hover {
    background-color: #285bdd !important;
}

#image {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#image img {
    width: 100%;
    height: auto;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

#features h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 45%;
    min-width: 250px;
    box-shadow: rgba(191, 191, 191, 0.2) 2px 2px 4px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
}

.feature-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
}

.feature-item p {
    font-size: 1.1em;
    color: #666;
}

.feature-item i {
    font-size: 64px;
    color: #2D6AFF;
}

#cadastro {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

#cadastro h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#cadastro h3 {
    font-size: 1.6em;
    text-align: center;
}

#cadastro p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#cadastro .cta-button {
    background-color: #2D6AFF;
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #555;
    text-align: center;
}

footer p {
    font-size: 0.9em;
}

footer a {
    font-size: 0.8em;
    color: #555;
    text-decoration: none;
}

.help {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 15px;
    font-size: 15px;
}

.about {
    margin-bottom: 15px;
    font-size: 15px;
}

@media screen and (max-width: 992px) {
    header {
        margin-bottom: 50px;
    }
    #call h1 {
        font-size: 2.2em;
        margin-bottom: 15px;
    }
    #call p {
        font-size: 1.2em;
    }
    .cta-button {
        padding: 15px 20px;
        font-size: 1em;
    }
    #image {
        margin-top: 50px;
    }
    #features {
        padding: 25px 0;
        background-color: white;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #features h2 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    .feature-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature-item {
        justify-content: start;
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }
    .feature-item h3 {
        font-size: 1.2em;
    }
    #cadastro h3 {
        font-size: 1.2em;
        text-align: center;
    }
}
