* {
    box-sizing: border-box;
    transition: all .2s ease;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    color: #111;
}

a {
    color: #2D6AFF;
}

h2 {
    margin-top: 0px;
    color: #111;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 220px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    padding: 8px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 4px;
    gap: 3px;
    border: 1px solid #2D6AFF;
    color: #2D6AFF;
}

#logo:hover {
   background-color: #2D6AFF;
   color: #fff;
}

#notes-list {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #1F2D3D;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar ul::-webkit-scrollbar {
    width: 4px !important;
    border-radius: 360px;
}

.sidebar ul::-webkit-scrollbar-thumb {
    background: #ccc !important;
    border-radius: 360px;
}

.sidebar ul::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.08) !important;
    border-radius: 360px;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}

.sidebar li:hover {
    padding-left: 10px;
    border-color: #d5d5d5;
}

.selected-note {
    font-weight: bold;
    background-color: #f5f5f5;
    color: #111;
    border-radius: 4px;
    padding-left: 10px !important;
    border-left: 4px solid #2D6AFF !important;
}

#user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-top: auto;
    margin-right: 20px;
}

.la-power-off:hover {
    color: red;
}

.content {
    width: 860px;
    padding: 30px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

#note-details {
    padding-bottom: 25px;
}

#note-details input {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    border: 0;
    outline: 0;
    color: #111;
}

#note-body {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    border: 0;
    outline: 0;
    line-height: 1.4;
}

.note-actions {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}

.note-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    padding: 5px 7px;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
}

.note-actions button:hover {
    background-color: #ebebeb;
}

#home {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #111;
}

.help {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    padding: 10px 15px;
    gap: 5px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
    color: #333;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.popup-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 20px;
    color: #555;
    background-color: #fff;
}

.popup-content .confirma {
    background-color: #F44336;
    color: #fff;
}

.popup-content .cancela:hover {
    background-color: #F0F0F0;
}

.popup-content .confirma:hover {
    background-color: #d1392e;
}

.popup.hidden {
    display: none;
}

.popup-content .inserir {
    background-color: #2D6AFF;
    color: #fff;
    margin-right: 10px;
}

.popup:not(.hidden) {
    visibility: visible;
}
  
[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    color: #D5D5D5;
    display: block; /* For Firefox */
}

.login-container {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.login-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    background-color: #2D6AFF;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    min-height: 42px;
    letter-spacing: 1px;
    height: 44px;
}

.login-container button:hover {
    background-color: #285bdd;
}

#login-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.input-login {
    height: 42px;
    border-radius: 4px;
    border: 1px solid #D5D5D5;
    padding: 5px 10px;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.input-login:hover {
    border-color: #2D6AFF;
}

.input-login::placeholder {
    color: #bbb;
}

.input-login:focus::placeholder {
    color: transparent;
}

#logo-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 22px;
    gap: 3px;
    color: #2D6AFF;
    cursor: default;
}
