body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

a {
    color: #4262ff;
}

::-webkit-scrollbar {
    width: 8px !important;
}
    
::-webkit-scrollbar-thumb {
    background: #999 !important;
}
    
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1) !important;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.container.light {
    background-color: #FFF;
}

.container.dark {
    background-color: #1f1f1f;
}

.sidebar {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar.light {
    background-color: #F5F5F5;
}

.sidebar.dark {
    background-color: #181818;
}

.sidebar-up {
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-up::-webkit-scrollbar {
    width: 4px !important;
}

.sidebar-up::-webkit-scrollbar-thumb {
    background: #AAA !important;
}

.sidebar-up::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1) !important;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul.light {
    color: #000;
}

.sidebar ul.dark {
    color: #868686;
}

.sidebar li {
    padding: 10px 20px;
    cursor: pointer;
}

.sidebar.light li:hover {
    background-color: #EBEBEC
}

.sidebar.dark li:hover {
    background-color: #37373d;
}

.sidebar .user {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.sidebar .user.light {
    border-top: 1px solid #ccc;
}

.sidebar .user.dark {
    border-top: 1px solid #2b2b2b;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    gap: 3px;
    
}

#logo.light {
    border: 1px solid #4262ff;
    color: #4262ff;
}

#logo.light:hover {
   background-color: #4262ff;
   color: #fff;
}

#logo.dark {
    border: 1px solid rgba(66, 98, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

#logo.dark:hover {
    background-color: rgba(66, 98, 255, 0.5);
    color: #fff;
 }

#logo .icone {
    width: 24px;
    height: 24px;
    background-image: url('logo.svg');
}

#logo:hover .icone {
    background-image: url('logo2.svg');
}

.selected-note {
    font-weight: bold;
    background-color: #EBEBEC;
    color: #1d1f2b;
}

.content {
    width: 860px;
    padding: 20px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

#note-details {
    padding-bottom: 25px;
}

#note-details input {
    width: 100%;
    font-size: 22px;
    border: 0;
    outline: 0;
}

#note-body {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    border: 0;
    outline: 0;
    line-height: 1.4;
}

.note-actions {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
}

.note-actions button {
    color: #555;
    padding: 5px 7px;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    background-color: #fff;
}

.note-actions button:hover {
    color: #4262ff;
    background-color: #F0F0F0;
}

#home {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#home.light {
    color: #000;
}

#home.dark {
    color: #ccc;
}

.help {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    padding: 10px 15px;
    gap: 5px;
}

.help.light {
    background-color: #F9F9F9;
    border: 1px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
}

.help.dark {
    background-color: #181818;
    border: 1px solid #282828;
    border-bottom: 2px solid #282828;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content button {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
    color: #555
}

.popup-content .confirma {
    background-color: #F44336;
    color: #fff;
    margin-right: 10px;
}

.popup:not(.hidden) {
    visibility: visible;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup.hidden {
    display: none;
}

.popup-content .inserir {
    background-color: #4262ff;
    color: #fff;
    margin-right: 10px;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    color: #D5D5D5;
    display: block; /* For Firefox */
}

.login-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #DDD;
    box-shadow: 0px 10px 25px -4px rgba(0,0,0,0.15);
}

.login-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    background-color: #4262ff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    min-height: 30px;
}

#login-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.input-login {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #D5D5D5;
    padding: 5px 10px;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.input-login:hover {
    border-color: #4262ff;
}

#logo-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
    gap: 3px;
    color: #4262ff;
    line-height: 0;
    cursor: default;
}

#logo-login .icone-logo {
    width: 24px;
    height: 24px;
    background-image: url('logo.svg');
}